.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-link {
  color: #61dafb;
}

/* .react-tabs{
  width: 100%;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rsm-svg{
  width: 80%;
  overflow: inherit;
}

.react-tabs__tab--selected{
 background-color: pink !important;
}

.react-tabs__tab-list{
  background-color: lightcoral !important; 
}

.table-container{
  margin-top: 5rem !important;
  width: 90%;
  margin: auto;
}